<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pirostagram</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gasoek+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script>
      function onClickLike(postId) {
        const url = `/posts/like_ajax/`;

        const requestLike = new XMLHttpRequest();

        requestLike.open("POST", url, true);
        requestLike.setRequestHeader("Content-Type", "application/json");
        requestLike.send(JSON.stringify({ id: postId }));

        requestLike.onreadystatechange = () => {
          if (
            requestLike.readyState === XMLHttpRequest.DONE &&
            requestLike.status === 200
          ) {
            const response = JSON.parse(requestLike.responseText);
            const iconElement = document.querySelector(`.fa-heart`);
            if (response.isLiked) {
              iconElement.classList.replace("far", "fas");
            } else {
              iconElement.classList.replace("fas", "far");
            }
          }
        };
      }

      function submitComment(postId) {
        const content = document.getElementById("comment-content").value;

        const request = new XMLHttpRequest();

        request.open("POST", `/posts/comment/${postId}`, true);
        request.setRequestHeader("Content-Type", "application/json");

        request.send(JSON.stringify({ content: content }));

        request.onreadystatechange = function () {
          if (
            request.readyState === XMLHttpRequest.DONE &&
            request.status === 200
          ) {
            const response = JSON.parse(request.responseText);
            const commentsList = document.getElementById("comments-list");
            const newComment = document.createElement("div");
            newComment.id = `comment-${response.id}`;
            newComment.innerHTML = `
            <p><strong>${response.commenter}:</strong> ${response.content}</p>`;

            if (response.commenter === "{{ request.user.username }}") {
              const deleteButton = document.createElement("button");
              deleteButton.innerText = "삭제";
              deleteButton.onclick = function () {
                deleteComment(response.id);
              };
              newComment.appendChild(deleteButton);
            }

            commentsList.appendChild(newComment);
            document.getElementById("comment-content").value = "";
          }
        };
      }

      function deleteComment(commentId) {
        const requestDelete = new XMLHttpRequest();

        requestDelete.open(
          "DELETE",
          `/posts/delete_comment/${commentId}`,
          true
        );

        requestDelete.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

        requestDelete.onreadystatechange = function () {
          if (
            requestDelete.readyState === XMLHttpRequest.DONE &&
            requestDelete.status === 200
          ) {
            const commentElement = document.getElementById(
              `comment-${commentId}`
            );
            commentElement.remove();
          }
        };

        requestDelete.send();
      }
    </script>
  </head>
  <body>
    <header>
      <div id="leftHeader">
        {% if user.is_authenticated %}
        <a href="{% url 'posts:main' %}">Pirostagram</a>
        {% else %}
        <a href="{% url 'users:main' %}">Pirostagram</a>
        {% endif %}
      </div>
      <div id="rightHeader">
        {% if user.is_authenticated %}
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'users:detail' %}">회원정보</a>
        {% else %}
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:signup' %}">Sign-up</a>
        {% endif %}
      </div>
    </header>
    <br />
    <hr />
    {% block content %} {% endblock %}
  </body>
</html>
