<form action="/update/{{review.id}}" method="post">
  {% csrf_token %}
  <input name="title" placeholder="제목" value="{{review.title}}" /> <br />
  <input
    name="createdDate"
    placeholder="개봉 날짜"
    value="{{review.createdDate|date:'Y-m-d'}}"
  />
  <br />
  <input name="genre" placeholder="장르" value="{{review.genre}}" /> <br />
  <input name="rank" placeholder="평점" value="{{review.rank}}" /> <br />
  <input
    name="running_time"
    placeholder="상영 시간"
    value="{{review.running_time|time:'H:i:s'}}"
  />
  <br />
  <input
    name="content"
    placeholder="내용"
    style="width: 200px; height: 100px"
    value="{{review.content}}"
  />
  <br />
  <input name="director" placeholder="감독" value="{{review.director}}" />
  <br />
  <input name="actors" placeholder="배우" value="{{review.actors}}" /> <br />
  <div>
    <input type="submit" value="저장" />
  </div>
</form>
