<!-- prettier-ignore -->
{% extends 'base.html' %}{% load static %}
{% block content %}

<div class="post">
  <div id="postBorder">
    {% if post.photo %}
    <img src="{{post.photo.url}}" class="image" />
    {% else %}
    <img src="{% static 'img/no_img.png' %}" class="image" />
    {% endif %}
    <br />
    <h2>{{ post.title }}</h2>
    <br />
    <p>작성자: {{ post.writer }}</p>
    <br />
    <p>내용: {{ post.content }}</p>
    <br />
    <p>작성날짜: {{ post.created_date }}</p>
    <br />
    {% if post.is_liked %}
    <div id="heartIcon">
      <i
        class="fas fa-heart"
        aria-hidden="true"
        onclick="onClickLike({{post.id}})"
        style="cursor: pointer"
      ></i>
      {% else %}
      <i
        class="far fa-heart"
        aria-hidden="true"
        onclick="onClickLike({{post.id}})"
        style="cursor: pointer"
      ></i>
    </div>
    {% endif %}
    <div id="commentBox">
      <h4>댓글</h4>
      <div class="post-comments">
        <div id="comments-list">
          {% for comment in post.comments.all %}
          <!-- prettier-ignore -->
          <div id="comment-{{ comment.id }}">
            <p>
              <strong>{{ comment.commenter.username }}:</strong> {{ comment.content }}
            </p>
            {% if comment.commenter == request.user %}
            <button onclick="deleteComment({{ comment.id }})">삭제</button>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div id="inputDiv">
          <input
            type="text"
            id="comment-content"
            placeholder="댓글을 입력하세요"
          />
          <button onclick="submitComment({{ post.id }})">작성</button>
        </div>
      </div>
      <br />
      <div class="btn">
        <a href="{% url 'posts:update' post.pk %}">수정하기</a>
        <form
          action="{% url 'posts:delete' post.pk %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <button type="submit">삭제</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
