<!-- prettier-ignore -->
{% extends 'base.html' %}{% load static %}
{% block content %}

<div id="addPost">
  <a href="{% url 'posts:create' %}">게시물 작성</a>
</div>
<br />

<div class="postContainer">
  {% for post in posts %}
  <div id="postItem">
    {% if post.photo %}
    <a href="{% url 'posts:detail' post.pk %}">
      <img src="{{post.photo.url}}" class="image" />
    </a>
    {% else %}
    <a href="{% url 'posts:detail' post.pk %}">
      <img src="{% static 'img/no_img.png' %}" class="image" />
    </a>
    {% endif %}
    <a href="{% url 'posts:detail' post.pk %}"><h3>{{post.title}}</h3></a>
    <p>{{ post.writer }}</p>
    <p>{{ post.created_date }}</p>
  </div>
  {% endfor %}
  <div id="firstAlert"></div>{% if posts|length == 0 %}
    <div class="no-posts">
      <p>? 첫 게시물을 작성해 볼까요 ?</p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
