<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SW Idea Manage</title>
    <link rel="stylesheet" href="{% static 'css/ideas/idea_main.css' %}" />
  </head>
  <body>
    <header>
      <div id="left">
        <a href="{% url 'ideas:main' %}">My <b>SW Idea</b> Manage</a>
      </div>
      <div id="right">
        <a href="{% url 'ideas:create' %}">아이디어 등록하기</a>

        <a href="{% url 'devtools:list' %}">개발툴 관리</a>

        <a href="{% url 'devtools:create' %}">개발툴 등록</a>
      </div>
    </header>
    <hr />
    <form action="{% url 'ideas:arrange' %}">
      <select name="sort" onchange="this.form.submit()">
        <option value="default">--정렬 기준--</option>
        <option value="title">제목순</option>
        <option value="date">등록순</option>
        <option value="new">최신순</option>
      </select>
    </form>

    <div class="ideaContainer">
      {% for idea in ideas %}
      <div class="ideaBox">
        {% if idea.photo %}
        <img src="{{idea.photo.url}}" alt="photo" />
        <br />
        {% else %}
        <img src="{% static 'image/no_img.png' %}" alt="no image" />
        <br />
        {% endif %}
        <a href="{% url 'ideas:detail' idea.id %}" class="title"
          >{{ idea.title }}</a
        >
        <hr />
        <p class="tool">{{ idea.tool }}</p>
        <div id="ideaInterest">
          <a href="{% url 'ideas:increase-interest' idea.id %}">+</a>
          <p class="interest">{{ idea.interest }}</p>
          <a href="{% url 'ideas:decrease-interest' idea.id %}">-</a>
        </div>
        <br />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
