<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SW Idea Manage</title>
  </head>
  <body>
    <a href="{% url 'ideas:main' %}">My SW Idea Manage</a>
    <br />
    <div>
      <p>Idea Detail Update</p>
      <p>
        아이디어 세부내용 수정 페이지입니다. 아이디어를 구체화하거나 내용을
        변경해 보아요.
      </p>
      <br />
      <form
        action="{% url 'ideas:update' pk %}"
        method="post"
        enctype="multipart/form-data"
      >
        {%csrf_token%} {{forms.as_p}}
        <button type="submit">수정완료</button>
      </form>
    </div>
  </body>
</html>
